CLOUDINARY_CLOUD_NAME=zdemoqzu
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_rotated_api_secret
IG_ACCESS_TOKEN=your_instagram_access_token
IG_USER_ID=your_instagram_user_id

# Telegram Bot Config
TELEGRAM_BOT_TOKEN=your_telegram_bot_token
ALLOWED_TELEGRAM_USER_ID=your_telegram_user_id

# Media Config
DEFAULT_CAPTION="Default caption #reels"
